body{
    color:blue;
    text-align: center;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 3px solid grey;
    margin: 0px auto;
}

#cabecera{
    background: blue;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    font-size: 25px;
}

#cabecera span{
    padding-left: 10px;
    font-size: 13px;
}

#contanier h1{
    font-size: 20px;
}

#post{

}